DOMAINS=<full qualified domain name, e.g.: example.com>
#Multiple domains supported, e.g.: DOMAINS="example.com example2.com"

#For testing use CERTBOT_TEST_CERT=1
CERTBOT_TEST_CERT=0
CERTBOT_EMAILS=<certificate email address>
CERTBOT_RSA_KEY_SIZE=4096
COMPOSE_PROJECT_NAME=<docker compose project name>

# Mysql/Mariadb and Wordpress settings
MYSQL_ROOT_PASSWORD=<password>
MYSQL_DATABASE=wordpress
MYSQL_USER=mysqladmin
MYSQL_PASSWORD=<password>
WORDPRESS_DB_NAME=wordpress
